// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

div.presentation {
  padding: 10px 0;
  clear: both;
  .presentation-metadata {
    float: right;
    padding: 10px;
    font-size: 0.5em;
    background-color: #9A9A9A;
    color: #262626;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #262626;
    ul {
      list-style: none;
    }
  }
}


